absl-py==1.0.0
alabaster==0.7.12
altair==4.2.0
antlr4-python3-runtime==4.9.3
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.3.1
astroid==2.5.3
astunparse==1.6.3
attrs==21.4.0
Babel==2.10.3
backcall==0.2.0
bcrypt==4.0.0
bleach==4.1.0
blinker==1.5
cachetools==4.2.4
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.9
click==7.1.2
colorama==0.4.5
commonmark==0.9.1
config==0.5.1
contourpy==1.0.5
cycler==0.11.0
DateTime==4.7
debugpy==1.4.3
decorator==5.1.0
defusedxml==0.7.1
distlib==0.3.1
Django==3.1.7
dnspython==2.2.1
docutils==0.19
entrypoints==0.3
filelock==3.0.12
flake8==5.0.4
Flask==1.1.2
Flask-Bcrypt==1.0.1
Flask-Login==0.6.2
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.1
flatbuffers==2.0
fonttools==4.37.3
gast==0.4.0
gitdb==4.0.9
GitPython==3.1.28
google-auth==2.3.3
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
greenlet==1.1.3
grpcio==1.43.0
gunicorn==20.1.0
h5py==3.6.0
hydra-core==1.2.0
idna==3.3
imageio==2.22.0
imagesize==1.4.1
importlib-metadata==4.10.0
ipykernel==6.9.1
ipython==7.28.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
is-disposable-email==1.0.0
isort==5.8.0
itsdangerous==1.1.0
jedi==0.18.0
Jinja2==2.11.3
joblib==1.2.0
jsonschema==4.4.0
jupyter==1.0.0
jupyter-client==7.0.3
jupyter-console==6.4.0
jupyter-core==4.8.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
keras==2.10.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.4.4
lazy-object-proxy==1.6.0
libclang==14.0.6
Markdown==3.3.6
MarkupSafe==1.1.1
matplotlib==3.6.0
matplotlib-inline==0.1.3
mccabe==0.7.0
mistune==0.8.4
mysql-connector==2.2.9
mysql-connector-python==8.0.30
mysqlclient==2.1.0
nbclient==0.5.11
nbconvert==6.4.2
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.8.6
nltk==3.2.4
notebook==6.4.8
numpy==1.20.2
oauthlib==3.1.1
omegaconf==2.2.3
opencv-python==4.5.5.62
opt-einsum==3.3.0
packaging==21.3
pandas==1.2.4
pandocfilters==1.5.0
parso==0.8.2
pickleshare==0.7.5
Pillow==8.2.0
pio==0.0.3
preprocessing==0.1.13
prometheus-client==0.13.1
prompt-toolkit==3.0.20
protobuf==3.19.1
pyarrow==9.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.9.1
pycparser==2.21
pydeck==0.8.0b3
pyflakes==2.5.0
Pygments
pylint
Pympler
pyparsing
pyrsistent
python-dateutil
python-dotenv
pytz
pytz-deprecation-shim
PyWavelets
pywinpty
PyYAML
pyzmq
qtconsole==5.2.2
QtPy==2.0.1
requests==2.26.0
requests-oauthlib==1.3.0
rich==12.6.0
rising==0.2.2
rsa==4.8
scikit-image==0.19.3
scikit-learn==1.1.2
scipy==1.9.1
seaborn==0.12.0
semver==2.13.0
Send2Trash==1.8.0
six==1.15.0
sklearn==0.0
skorch==0.12.0
smmap==5.0.0
snowballstemmer==2.2.0
Sphinx==5.2.0.post0
sphinx-rtd-theme==0.2.4
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==1.4.41
sqlparse==0.4.1
streamlit==1.12.0
svm==0.1.0
tabulate==0.9.0
tensorboard==2.10.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.7.0
tensorflow-cpu==2.10.0
tensorflow-estimator==2.10.0
tensorflow-gpu==2.10.0
tensorflow-io-gcs-filesystem==0.23.1
tensorflow_intel==2.10.0
termcolor==1.1.0
terminado==0.13.2
testpath==0.6.0
threadpoolctl==3.1.0
tifffile==2022.8.12
toml==0.10.2
toolz==0.12.0
torch==1.8.1+cpu
torchvision==0.9.1+cpu
tornado==6.1
tqdm==4.64.1
traitlets==5.1.0
typing_extensions==4.4.0
tzdata==2022.4
tzlocal==4.2
urllib3==1.26.7
utils==1.0.1
validators==0.20.0
version==0.1.0
virtualenv-clone==0.3.0
watchdog==2.1.9
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
whitenoise==6.2.0
widgetsnbextension==3.5.2
wrapt==1.12.1
WTForms==3.0.1
wtforms-validators==1.0.0
xmltodict==0.13.0
yellowbrick==1.5
zipp==3.7.0
zope.interface==5.4.0
